*{
    margin: 0;
    padding: 0;
}

.header {
width: vw;
display: flex; 
justify-content: space-between; 
padding: 10px; 
height: 20%; 
background-color: #10b981; 
font-family: 'VT323'; 
margin-bottom: 10px;
}

.nav-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #047857;
    color: white;
    border-radius: 5px;
    margin: 5px;
}