<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div class="header">
      <a href="{{ url_for('home') }}">
        <div class="logo">
          <h1 class="logo-text logo-text-color-blue">A</h1>
          <h1 class="logo-text logo-text-color-gold">R</h1>
          <h1 class="logo-text logo-text-color-crimson">T</h1>
          <h1 class="logo-text">GALLERY</h1>
        </div>
      </a>

      <div
        style="
          display: flex;
          flex-direction: column;
          justify-self: center;
          align-items: center;
          color: white;
        "
      >
        <h4 style="font-weight: 100">Nguyễn Ngọc Bảo Nhân</h4>
        <h4 style="font-weight: 100">Nguyễn Văn Bách</h4>
        <h4 style="font-weight: 100">Đặng Ngọc Nam</h4>
      </div>
      <div style="display: flex; align-items: center">
        <div style="color: white; text-align: center; margin-right: 20px">
          <a href="{{ url_for('my_posts') }}">{{ user.username }}</a>
          
        </div>
        <div class="navigation">
          <a href="{{ url_for('post') }}" class="nav-button"
            >Share your picture</a
          >
        </div>
        <div class="navigation">
          <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
      </div>
    </div>

    <div
      style="
        display: flex;
        width: vw;
        justify-content: space-between;
        padding: 10px;
      "
    >
      {% for tag in tags %}
      <div class="tag">{{tag.name}}</div>
      {% endfor %}
    </div>
    <h2 style="font-family: VT323; text-align: center; margin-top: 20px; font-size:30px;">Online Gallery</h2>
    <div class="container">
      <div class="picture-gallery">
        {% for data in file_data %}
        <div class="picture">
          <img
            src="{{ url_for('uploaded_file', file_id=data.file.id) }}"
            alt="{{ data.file.filename }}"
            data-tags="{{ data.tags|join(', ') }}"
            data-username="{{ data.username }}"
            data-upload-time="{{ data.upload_time }}"
            data-title="{{ data.title }}"
          />
        </div>
        {% endfor %}
      </div>
    </div>
<div id="myModal">
  <span class="close">&times;</span>
  <div class="modal-content">
    <img id="modalImage" src="" alt="Image" />
    <div class="modal-text">
      <div class="m-text">
        <p id="modalTitle" style="font-size: x-large; font-weight: 600;"> </p>
        <p id="modalUsername"> User:</p>
        <p id="modalUploadTime"> </p>
        <p id="modalTags"> Tags:</p>
      </div>
      <a id="modalDownloadLink" href="">
        <img src="../static/pic/downloads.png" alt="" style="height: 24px;">
      </a>
    </div>
  </div>
</div>

    <script>
      function setupModalEventHandlers() {
        var modal = document.getElementById("myModal");
        var modalContent = document.getElementsByClassName("modal-content")[0];
        var images = document.getElementsByClassName("picture");
        var modalTitle = document.getElementById("modalTitle");
        var modalImg = document.getElementById("modalImage");
        var modalUsername = document.getElementById("modalUsername");
        var modalUploadTime = document.getElementById("modalUploadTime");
        var modalTags = document.getElementById("modalTags");
        var modalDownloadLink = document.getElementById("modalDownloadLink");
        for (var i = 0; i < images.length; i++) {
          var img = images[i].getElementsByTagName("img")[0];
          img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            modalUsername.innerHTML = "User: " + this.dataset.username;
            modalUploadTime.innerHTML = this.dataset.uploadTime;
            modalTitle.innerHTML = this.dataset.title;
            modalTags.innerHTML = "Tags: " + this.dataset.tags;
            modalDownloadLink.href = this.src;
            modal.style.display = "flex";
          };
        }
        var span = document.getElementsByClassName("close")[0];
      span.onclick = function () {
        modal.style.display = "none";
        modalImg.src = "";
        modalTitle.innerHTML = "";
        modalUsername.innerHTML = "";
        modalUploadTime.innerHTML = "";
        modalDownloadLink.href = "";
      };
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
          modalImg.src = "";
          modalTitle.innerHTML = "";
          modalUsername.innerHTML = "";
          modalUploadTime.innerHTML = "";
          modalDownloadLink.href = "";
        }
      }
      }
      setupModalEventHandlers();
      $(document).ready(function () {
        $(".tag").click(function () {
          var tag_name = $(this).text();
          $.get("/tag/" + tag_name, function (data) {
            $(".picture-gallery").empty();
            data.forEach(function (image) {
              $(".picture-gallery").append(
                '<div class="picture"><img src="' +
                  image.url +
                  '" alt="' +
                  image.filename +
                  '" data-username="' +
                  image.username +
                  '" data-upload-time="' +
                  image.upload_time +
                  '" /></div>'
              );
            });
            setupModalEventHandlers();
          });
        });
      });
    </script>
  </body>
</html>
