<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/home.css">
  <title>Document</title>
</head>

<body>
  <div class="header" style="width: vw; display: flex; justify-content: space-between; padding: 10px; height: 20%;">
    <div style="display: flex; max-width: 100px;">
      <h1 style="color: aqua;">ART </h1>
      <h1>GALLERY</h1>
    </div>

    <div style="display: flex; flex-direction: column; justify-self: center; align-items: center;">
      <h4>Nguyễn Ngọc Bảo Nhân</h4>
      <h4>Nguyễn Văn Bách</h4>
      <h4>Đặng Ngọc Nam</h4>
    </div>

    <div>{{user.username}}</div>
  </div>

  <div class="container">

    <h2 class="title">Gallery</h2>

    <div class="picture-gallery">

      <div class="column">
        <div class="picture">
          <img
            src="https://static.vecteezy.com/system/resources/thumbnails/009/273/280/small_2x/concept-of-loneliness-and-disappointment-in-love-sad-man-sitting-element-of-the-picture-is-decorated-by-nasa-free-photo.jpg"
            alt="">
        </div>
        <div class="picture">
          <img
            src="https://static.vecteezy.com/system/resources/thumbnails/009/273/280/small_2x/concept-of-loneliness-and-disappointment-in-love-sad-man-sitting-element-of-the-picture-is-decorated-by-nasa-free-photo.jpg"
            alt="">
        </div>
        <div class="picture">
          <img
            src="https://static.vecteezy.com/system/resources/thumbnails/009/273/280/small_2x/concept-of-loneliness-and-disappointment-in-love-sad-man-sitting-element-of-the-picture-is-decorated-by-nasa-free-photo.jpg"
            alt="">
        </div>
      </div>

      <div class="column">
        <div class="picture">
          <img
            src="https://static.vecteezy.com/system/resources/thumbnails/009/273/280/small_2x/concept-of-loneliness-and-disappointment-in-love-sad-man-sitting-element-of-the-picture-is-decorated-by-nasa-free-photo.jpg"
            alt="">
        </div>
        <div class="picture">
          <img
          src="https://i.pinimg.com/564x/55/42/5e/55425e427c51795471db5d61772d2555.jpg"
          alt="">
        </div>
        <div class="picture">
          <img
            src="https://static.vecteezy.com/system/resources/thumbnails/009/273/280/small_2x/concept-of-loneliness-and-disappointment-in-love-sad-man-sitting-element-of-the-picture-is-decorated-by-nasa-free-photo.jpg"
            alt="">
        </div>
      </div>

      <div class="column">
        <div class="picture">
          <img
            src="https://static.vecteezy.com/system/resources/thumbnails/009/273/280/small_2x/concept-of-loneliness-and-disappointment-in-love-sad-man-sitting-element-of-the-picture-is-decorated-by-nasa-free-photo.jpg"
            alt="">
        </div>
        <div class="picture">
          <img
            src="https://static.vecteezy.com/system/resources/thumbnails/009/273/280/small_2x/concept-of-loneliness-and-disappointment-in-love-sad-man-sitting-element-of-the-picture-is-decorated-by-nasa-free-photo.jpg"
            alt="">
        </div>
        <div class="picture">
          <img
            src="https://i.pinimg.com/564x/55/42/5e/55425e427c51795471db5d61772d2555.jpg"
            alt="">
        </div>
      </div>
    </div>
  </div>
</body>

</html>