<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Gallery</title>
</head>

<body>
  <form action="post" class="login-form">
    <table>
      <thead>Login Form</thead>
      <tbody>
        <div class="row">
          <label for="username" class="">Username</label>
          <input type="text" id="username" />
        </div>
        <div class="row">
          <label for="password">Password</label>
          <input type="password" id="password" />
        </div>
      </tbody>
      <tfoot>
        <button type="submit">Login</button>
      </tfoot>
    </table>
  </form>
</body>

</html>