<!DOCTYPE html>
<html lang="en">

<head>
  <title>Python Image Gallery Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert">
                {% for message in messages %}
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('login') }}" method="post">
                <h1>Đăng ký</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>hoặc dùng email để đăng ký</span>
                <input type="text" placeholder="Name" name="username" />
                <input type="email" placeholder="Email" name="email" />
                <input type="password" placeholder="Password" name="password" />
                <button type="submit" name="register">Đăng ký</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert">
                {% for message in messages %}
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('login') }}" method="post">
                <h1>Đăng nhập</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>Đã có tài khoản?</span>
                <input type="email" placeholder="Email" name="email" />
                <input type="password" placeholder="Password" name="password" />
                <a href="#">Quên mật khẩu?</a>
                <button type="submit" name="login">Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Xin chào!</h1>
                    <p>chào mừng bạn đến với IMAGE GALLERY</p>
                    <button class="ghost" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Chào bạn mới!</h1>
                    <p>điền thông tin để thêm mới tài khoản</p>
                    <button class="ghost" id="signUp">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>

  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>