<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/profile.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div class="header">
      <a href="{{ url_for('home') }}">
        <div class="logo">
          <h1 class="logo-text logo-text-color-blue">A</h1>
          <h1 class="logo-text logo-text-color-gold">R</h1>
          <h1 class="logo-text logo-text-color-crimson">T</h1>
          <h1 class="logo-text">GALLERY</h1>
        </div>
      </a>

      <div
        style="
          display: flex;
          flex-direction: column;
          justify-self: center;
          align-items: center;
          color: white;
        "
      >
      <h4 style="font-weight: 100; font-size: 16px; margin: 0">Nguyễn Ngọc Bảo Nhân</h4>
      <h4 style="font-weight: 100; font-size: 16px; margin: 0">Nguyễn Văn Bách</h4>
      <h4 style="font-weight: 100; font-size: 16px; margin: 0">Đặng Ngọc Nam</h4>
      </div>
      <div style="display: flex; align-items: center">
        <div style="color: white; text-align: center; margin-right: 20px">
          {{ user.username }}
        </div>
        <div class="navigation">
          <a href="{{ url_for('post') }}" class="nav-button"
            >Share your picture</a
          >
        </div>
        <div class="navigation">
          <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
      </div>
    </div>

    <div
      style="
        display: flex;
        width: vw;
        justify-content: space-between;
        padding: 10px;
      "
    >
      {% for tag in tags %}
      <div class="tag">{{tag.name}}</div>
      {% endfor %}
    </div>
    <h2
      style="
        font-family: VT323;
        text-align: center;
        margin-top: 20px;
        font-size: 30px;
      "
    >
      {{user.username}}'s Gallery
    </h2>
    <div class="container">
      <div class="picture-gallery">
        {% for data in file_data %}
        <div class="picture">
          <img
            src="{{ url_for('uploaded_file', file_id=data.file.id) }}"
            alt="{{ data.file.filename }}"
            data-id="{{ data.file.id }}"
            data-tags="{{ data.tags|join(', ') }}"
            data-username="{{ data.username }}"
            data-upload-time="{{ data.upload_time }}"
            data-title="{{ data.title }}"
          />
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- The Modal -->
    <!-- The Modal -->
    <!-- The Modal -->
    <div id="myModal">
        <span class="close">&times;</span>
        <div class="modal-content">
          <img id="modalImage" src="" alt="Image" />
          <div class="modal-text">
            <div>
              <p id="modalTags">Tags:</p>
              <p id="modalTitle">Title:</p>
              <p id="modalUsername">Username:</p>
              <p id="modalUploadTime">Upload Time:</p>
              <!-- Form to change the image title -->
              <form id="changeTitleForm" method="post">
                <input
                  type="text"
                  id="newTitle"
                  class="input-control"
                  name="newTitle"
                  placeholder="New image title"
                />
                <input class="edit-button" type="submit" value="Change image title" />
              </form>
              <!-- Form to delete the image -->
              <form id="deleteImageForm" method="post">
                <input class="delete-button"type="submit" value="Delete image" />
              </form>
            </div>
            <a id="modalDownloadLink" href="">
              <img src="../static/pic/downloads.png" alt="" style="height: 24px;">
            </a>
          </div>
        </div>
      </div>

    <script>
      function setupModalEventHandlers() {
        var modal = document.getElementById("myModal");
        var modalContent = document.getElementsByClassName("modal-content")[0];
        var images = document.getElementsByClassName("picture");
        var modalImg = document.getElementById("modalImage");
        var modalTitle = document.getElementById("modalTitle");
        var modalUsername = document.getElementById("modalUsername");
        var modalUploadTime = document.getElementById("modalUploadTime");
        var modalTags = document.getElementById("modalTags");
        var modalDownloadLink = document.getElementById("modalDownloadLink");
        for (var i = 0; i < images.length; i++) {
          var img = images[i].getElementsByTagName("img")[0];
          img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            modalUsername.innerHTML = "Username: " + this.dataset.username;
            modalUploadTime.innerHTML =
              "Upload Time: " + this.dataset.uploadTime;
            modalTags.innerHTML = "Tags: " + this.dataset.tags;
            modalTitle.innerHTML = "Title: " + this.dataset.title;
            modalDownloadLink.href = this.src;
            modal.style.display = "flex";
          };
        }
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
          modal.style.display = "none";
          modalImg.src = "";
          modalTitle.innerHTML = "";
          modalUsername.innerHTML = "";
          modalUploadTime.innerHTML = "";
          modalDownloadLink.href = "";
        };
        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
            modalImg.src = "";
            modalTitle.innerHTML = "";
            modalUsername.innerHTML = "";
            modalUploadTime.innerHTML = "";
            modalDownloadLink.href = "";
          }
        };
        img.onclick = function () {
          modal.style.display = "block";
          modalImg.src = this.src;
          modalUsername.innerHTML = "Username: " + this.dataset.username;
          modalUploadTime.innerHTML = "Upload Time: " + this.dataset.uploadTime;
          modalTags.innerHTML = "Tags: " + this.dataset.tags;
          modalTitle.innerHTML = "Title: " + this.dataset.title;
          modalDownloadLink.href = this.src;
          modal.style.display = "flex";
          document.getElementById("changeTitleForm").action =
    "/change_image_title/" + this.dataset.id;
          document.getElementById("deleteImageForm").action =
            "/delete_image/" + this.dataset.id;
        };
      }
      setupModalEventHandlers();

      $(document).ready(function () {
        $(".tag").click(function () {
          var tag_name = $(this).text();
          $.get("/tag/" + tag_name, function (data) {
            $(".picture-gallery").empty();
            data.forEach(function (image) {
              $(".picture-gallery").append(
                '<div class="picture"><img src="' +
                  image.url +
                  '" alt="' +
                  image.filename +
                  '" data-username="' +
                  image.username +
                  '" data-upload-time="' +
                  image.upload_time +
                  '" /></div>'
              );
            });
            setupModalEventHandlers();
          });
        });
      });
    </script>
  </body>
</html>
